---
import style from "./progressiveBlurTop.module.scss";
---

<div aria-hidden="true" class={style.ProgressiveBlurTop}>
  <div class={style.ProgressiveBlurTop_wrapper}>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l1}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l2}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l3}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l4}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l5}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l6}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l7}`}></div>
    <div class={`${style.ProgressiveBlurTop_layer} ${style.ProgressiveBlurTop_l8}`}></div>
  </div>
</div>
